package main

import (
	"fmt"
	"net/http"
	"io/ioutil"
)

func main() {

	url := "__API_SERVER_URL__{{ path }}{% if query_params %}?{{ query_params }}{% endif %}"

	req, _ := http.NewRequest("{{ method|upper }}", url, nil)

	res, _ := http.DefaultClient.Do(req)

	defer res.Body.Close()
	body, _ := ioutil.ReadAll(res.Body)

	fmt.Println(res)
	fmt.Println(string(body))

}
