package main

import (
	"fmt"
	"net/http"
	"io/ioutil"
)

func main() {

	url := "{{ api_server_url }}/storage-areas/{storage_area_id}/disable"

	req, _ := http.NewRequest("PUT", url, nil)

	req.Header.Add("Authorization", "Bearer REPLACE_BEARER_TOKEN")

	res, _ := http.DefaultClient.Do(req)

	defer res.Body.Close()
	body, _ := ioutil.ReadAll(res.Body)

	fmt.Println(res)
	fmt.Println(string(body))

}