const http = require("http");

const options = {
  "method": "GET",
  "hostname": "localhost",
  "port": "8080",
  "path": "/v1/services?include_associated_with_compute=SOME_BOOLEAN_VALUE&include_disabled=SOME_BOOLEAN_VALUE",
  "headers": {}
};

const req = http.request(options, function (res) {
  const chunks = [];

  res.on("data", function (chunk) {
    chunks.push(chunk);
  });

  res.on("end", function () {
    const body = Buffer.concat(chunks);
    console.log(body.toString());
  });
});

req.end();