import requests

url = "{{ api_server_url }}/storage-areas"

querystring = {"only_node_names":"SOME_STRING_VALUE","only_site_names":"SOME_STRING_VALUE","include_inactive":"SOME_BOOLEAN_VALUE"}

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)