import requests

url = "{{ api_server_url }}/sites/{site}/latest"

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("DELETE", url, headers=headers)

print(response.text)