import requests

url = "{{ api_server_url }}/sites/bulk"

headers = {
    "content-type": "multipart/form-data",
    "Authorization": "Bearer REPLACE_BEARER_TOKEN"
}

response = requests.request("POST", url, headers=headers)

print(response.text)