import requests

url = "{{ api_server_url }}/sites/{site}/{version}"

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("GET", url, headers=headers)

print(response.text)