import requests

url = "{{ api_server_url }}/storage-areas/{storage_area_id}"

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("GET", url, headers=headers)

print(response.text)