import requests

url = "{{ api_server_url }}/storage-areas/topojson"

querystring = {"node_names":"SOME_STRING_VALUE","site_names":"SOME_STRING_VALUE","include_inactive":"SOME_BOOLEAN_VALUE"}

response = requests.request("GET", url, params=querystring)

print(response.text)