import requests

url = "{{ api_server_url }}/services"

querystring = {"node_names":"SOME_STRING_VALUE","site_names":"SOME_STRING_VALUE","service_types":"SOME_STRING_VALUE","service_scope":"SOME_STRING_VALUE","include_inactive":"SOME_BOOLEAN_VALUE","associated_storage_area_id":"SOME_STRING_VALUE"}

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)