import requests

url = "{{ api_server_url }}/sites/{site_id}/enable"

headers = {"Authorization": "Bearer REPLACE_BEARER_TOKEN"}

response = requests.request("PUT", url, headers=headers)

print(response.text)