curl --request GET \
  --url '{{ api_server_url }}/compute?node_names=SOME_STRING_VALUE&site_names=SOME_STRING_VALUE&include_inactive=SOME_BOOLEAN_VALUE' \
  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'