<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../static/js/jsonform/deps/opt/bootstrap.css" />
</head>
<style>
  #globe {
    cursor: move;
    margin-top: 5%;
    margin-left: 15%;
  }
  #current {
    position: absolute;
    color: black;
    font-family: inherit;
    line-height: 1.5;
  }
</style>
<body>
  <h1 style="color: #212529; font-weight: 100; margin-bottom: 25px;">Visualise</h1>
  <div id="current"></div>
  <canvas id="globe"></canvas>
  <script type="text/javascript" src="../../static/js/jsonform/deps/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/versor@0.2"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-transition@3"></script>
  <script>

  // Configuration parameters.
  var rotationDelay = 500                           // ms to wait after dragging before auto-rotating
  var scaleFactor = 0.9                             // scale of the globe (not the canvas element)
  var degPerSec = 5                                 // autorotation speed
  var angles = { x: -30, y: 40, z: 0}               // start angles
  var rucioMonitoringRefreshIntervalMs = 10000      // how often to query elastic api for rucio events (if requested)
  var rucioMonitoringQueryLimit = 10000             // how many docs can be retrieved in single query

  // Colours.
  var colorWater = '#fff'
  var fillColorLand = 'rgb(229,229,229,0.5)'
  var strokeColorLand = 'rgba(0,0,0,0.2)'
  var colorGraticule = '#ccc'
  var strokeColorCountry = 'rgba(55,71,183,0.7)'
  var fillColorCountry = 'rgba(55,71,183,0.2)'
  var strokeTransferDoneColor = 'rgba(208,9,9,0.7)'
  var strokeTransferFailedColor = 'rgba(208,9,9,0.9)'

  // Initialisation.
  var current = d3.select('#current')
  var canvas = d3.select('#globe')
  var context = canvas.node().getContext('2d')
  var water = { type: 'Sphere' }
  var projection = d3.geoOrthographic().precision(0.1)
  var graticule = d3.geoGraticule10()
  var path = d3.geoPath(projection).context(context)
  var v0    // mouse position in Cartesian coordinates at start of drag gesture
  var r0    // projection rotation as Euler angles at start
  var q0    // projection rotation as versor at start
  var lastTime = d3.now()
  var degPerMs = degPerSec / 1000
  var width, height
  var land, countries
  var sites, storages
  var doneTransfers, failedTransfers
  var autorotate, now, diff, rotation
  var currentCountry
  var cadcSprite = new Image(); cadcSprite.src = "../../static/img/cadc.png"
  var rucioSprite = new Image(); rucioSprite.src = "../../static/img/rucio.png"


  // Scale canvas callback.
  function scale() {
    width = document.documentElement.clientWidth
    height = document.documentElement.clientHeight
    canvas.attr('width', width).attr('height', height)
    projection
      .scale((scaleFactor * Math.min(width, height)) / 3)
      .translate([width / 3, height / 3])
    render_main()
  }


  // Rotation callbacks.
  /// start
  function startRotation(delay) {
    autorotate.restart(rotate, delay || 0)
  }
  /// stop
  function stopRotation() {
    autorotate.stop()
  }


  // Drag callbacks.
  /// started
  function dragstarted() {
    v0 = versor.cartesian(projection.invert(d3.mouse(this)))
    r0 = projection.rotate()
    q0 = versor(r0)
    stopRotation()
  }
  /// while dragging
  function dragged() {
    var v1 = versor.cartesian(projection.rotate(r0).invert(d3.mouse(this)))
    var q1 = versor.multiply(q0, versor.delta(v0, v1))
    var r1 = versor.rotation(q1)
    projection.rotate(r1)
    render_main()
  }
  /// ended
  function dragended() {
    autorotate.restart(render_main)    // don't restart rotation after drag
  }


  // Render functions.
  /// the globe (called in main loop)
  function render_main() {
    context.clearRect(0, 0, width, height)
    fill(water, colorWater)                                   // water
    stroke(graticule, colorGraticule)                         // graticule
    fill(land, fillColorLand)                                 // land
    stroke(land, strokeColorLand)                             // land borders
    if (currentCountry) {                                     // country for current selection
      stroke(currentCountry, strokeColorCountry)
      fill(currentCountry, fillColorCountry)
    }

      $.each(storages.features, function(index, storage) {
        {% if (request.query_params.storages == 'rucio') %}
        if (storage.properties.rucio_name != null) {
          drawImage(storage, rucioSprite);                    // rucio storages
        }
        {% endif %}
      });
  }

  /// transfers (called on a different timer to avoid overloading monitoring rest api)
  function render_transfers() {
    $.each(doneTransfers, function(_, doc) {
      const p1 = doc.from_coordinates
      const p2 = doc.to_coordinates
      const name = p1.toString() + p2.toString()
      const ip = d3.geoInterpolate(p1, p2)
      d3.transition(name)
        .duration(3000)
        .tween(name, () => t => {
          stroke({type: "LineString", coordinates: [p1, ip(t)]}, strokeTransferDoneColor);
        })
      .transition(name)
        .tween(name, () => t => {
         stroke({type: "LineString", coordinates: [ip(t), p2]}, strokeTransferDoneColor);
        })
      .end();
    });
  }


  // Rendering abstractions for different actions.
  /// draw a sprite
  function drawImage(obj, img, XSize=30, YSize=30) {
    pt = d3.geoPath(projection).centroid(obj)
    pt[0] -= XSize / 2
    pt[1] -= YSize / 2
    context.drawImage(img, ...pt, XSize, YSize)
  }
  /// fill a polygon
  function fill(obj, color) {
    context.beginPath()
    path(obj)
    context.fillStyle = color
    context.fill()
  }
  /// stroke a path
  function stroke(obj, color) {
    context.beginPath()
    path(obj)
    context.strokeStyle = color
    context.stroke()
  }


  // Main d3.timer() callback.
  function rotate(elapsed) {
    now = d3.now()
    diff = now - lastTime
    if (diff < elapsed) {
      rotation = projection.rotate()
      rotation[0] += diff * degPerMs
      projection.rotate(rotation)
      render_main()
    }
    lastTime = now
  }

  // Transfers d3.interval() callback.
  function get_transfers(rucio_monitoring_url) {
    rucioStorageSiteLocations = {}
    $.each(storages.features, function(_, storage) {
      if (storage.properties.rucio_name != null) {
        rucioStorageSiteLocations[storage.properties.rucio_name] = storage.geometry.coordinates
      }
    })

    now = Date.now()

    /// done
    $.ajax({
      url: rucio_monitoring_url + "/_search",
      type: "POST",
      data: JSON.stringify({
          "size": rucioMonitoringQueryLimit,
          "query": {
              "bool": {
                  "must": [{
                      "term": {
                          "event_type.keyword": "transfer-done"
                      }
                  },
                  {
                      "range": {
                          "created_at": {
                              "from": new Date(Date.now()-rucioMonitoringRefreshIntervalMs).toISOString(),
                              "to": new Date(Date.now()).toISOString()
                          }
                      }
                  }
              ]}
          },
          "aggs": {
              "src-rse": {
                  "terms": {
                      "field": "payload.src-rse.keyword"
                  },
                  "aggs": {
                      "dst-rse": {
                          "terms": {
                              "field": "payload.dst-rse.keyword"
                          }
                      }
                  }
              }
          }
        }
      ),
      contentType: "application/json;",
      dataType: "json"
    })
    .success(function(data) {
      doneTransfers = []
      $.each(data.aggregations['src-rse'].buckets, function(_, src) {
        $.each(src['dst-rse'].buckets, function(_, dst) {
            console.log("Transfer from: ", src.key, " to ", dst.key)
            if(src.key in rucioStorageSiteLocations && dst.key in rucioStorageSiteLocations) {
                doneTransfers.push({
                    "from": src.key,
                    "to": dst.key,
                    "from_coordinates": rucioStorageSiteLocations[src.key],
                    "to_coordinates": rucioStorageSiteLocations[dst.key],
                    "count": dst.doc_count
                })
            }
        });
      });
      render_transfers();
    })
    .error(function(xhr, textStatus, errorThrown) {
    })
  }


  // Load one-time data, this is the entry point.
  function loadData(cb) {
    d3.json('../../../static/resources/world-110m.json', function(error, worldTopojson) {              // world polygons
      if (error) throw error
      d3.tsv('../../../static/resources/world-country-names.tsv', function(error, countryNames) {      // country names
        if (error) throw error
        d3.json('{{ api_prefix }}://{{ api_host }}:{{ api_port }}/sites/latest', function(
            error, sitesJson) {                                                                        // storages
          if (error) throw error
          d3.json('{{ api_prefix }}://{{ api_host }}:{{ api_port }}/storages/topojson', function(
              error, storagesTopojson) {                                                           // sites
            if (error) throw error
            cb(worldTopojson, countryNames, sitesJson, storagesTopojson)
          })
        })
      })
    })
  }

  // Utility functions.
  /// does a polygon contain a point?
  function polygonContains(polygon, point) {
    var n = polygon.length
    var p = polygon[n - 1]
    var x = point[0], y = point[1]
    var x0 = p[0], y0 = p[1]
    var x1, y1
    var inside = false
    for (var i = 0; i < n; ++i) {
      p = polygon[i], x1 = p[0], y1 = p[1]
      if (((y1 > y) !== (y0 > y)) && (x < (x0 - x1) * (y - y1) / (y0 - y1) + x1)) inside = !inside
      x0 = x1, y0 = y1
    }
    return inside
  }

  /// callback for entering a country
  function enter(country) {
    var country = countryList.find(function(c) {
      return parseInt(c.id, 10) === parseInt(country.id, 10)
    })
    correspondingSite = sites.find(x => x.country == country.iso2)
    if (correspondingSite) {
      correspondingSite['name']
      correspondingSite['description']

      totalStorageSizeTB = 0
      storageSRMs = []
      $.each(correspondingSite.storages, function(_, storage) {
        totalStorageSizeTB += parseFloat(storage['size_in_terabytes'], 10)
        if (!(storage['srm'] in storageSRMs)) {
          storageSRMs.push(storage['srm'])
        }
      })

      serviceTypes = []
      $.each(correspondingSite.services, function(_, service) {
        if (!(service['type'] in serviceTypes)) {
          serviceTypes.push(service['type'])
        }
      })

      flagUrl = '../../static/img/flags/' + country.iso2.toLowerCase() + '.svg'
      current.html("" +
          "<table>" +
          "<tr><td style='text-align: center;' colspan=2><img style='height: 100px' src=" + flagUrl + " /></td></tr>" +
          "<tr rowspan=2><td colspan=2>&nbsp;</td></tr>" +
          "<tr><td style='padding-right: 10px;'><b>Name</b></td><td>" + correspondingSite['name'] + "</td><tr/>" +
          "<tr><td style='padding-right: 10px;'><b>Description</b></td><td>" + correspondingSite['description'] + "</td><tr/>" +
          "<tr><td style='padding-right: 10px;'><b>Total storage capacity (TB)</b></td><td>" + totalStorageSizeTB + "</td><tr/>" +
          "<tr><td style='vertical-align: top; padding-right: 10px;'><b>Storage SRMs</b></td><td>" + storageSRMs.join(',<br/>') + "</td><tr/>" +
          "<tr><td style='vertical-align: top; padding-right: 10px;'><b>Available services</b></td><td>" + serviceTypes.join(',<br/>') + "</td><tr/>" +
          "</table>")
    } else {
      current.text('')
    }
  }
  /// callback for leaving a country
  function leave(country) {
    current.text('')
  }

  /// callback to check current mouse hover position
  function getCountry(event) {
    var pos = projection.invert(d3.mouse(event))
    return countries.features.find(function(f) {
      return f.geometry.coordinates.find(function(c1) {
        return polygonContains(c1, pos) || c1.find(function(c2) {
          return polygonContains(c2, pos)
        })
      })
    })
  }

  // callback for mouse movement
  function mousemove() {
    var c = getCountry(this)
    if (!c) {
      if (currentCountry) {
        leave(currentCountry)
        currentCountry = undefined
        render_main()
      }
      return
    }
    if (c === currentCountry) {
      return
    }
    currentCountry = c
    render_main()
    enter(c)
  }


  // Add cursor callbacks.
  canvas
    .call(d3.drag()
      .on('start', dragstarted)
      .on('drag', dragged)
      .on('end', dragended)
     )
    .on('dblclick', startRotation)
    .on('mousemove', mousemove)


  var rotation = projection.rotate()
  rotation[0] = angles.y
  rotation[1] = angles.x
  rotation[2] = angles.z
  projection.rotate(rotation)

  loadData(function(worldTopojson, countryNames, sitesJson, storagesTopojson) {
    land = topojson.feature(worldTopojson, worldTopojson.objects.countries)
    countries = topojson.feature(worldTopojson, worldTopojson.objects.countries)
    countryList = countryNames
    sites = sitesJson
    storages = topojson.feature(storagesTopojson, storagesTopojson.objects.sites)

    window.addEventListener('resize', scale)
    scale()

    autorotate = d3.timer(rotate)

    {% if request.query_params['rucio-monitoring'] is defined %};
      d3.interval(function() { get_transfers("{{ request.query_params['rucio-monitoring'] }}") },
          rucioMonitoringRefreshIntervalMs)
    {% endif %}
  })
</script>

</body>
</html>